<div>
    <h2>Hey <%= user.firstName %> </h2>
    <h3>Verification of your email <%= user.email %> using link</h3>
    <h6>Please click on the link below to verify you email</h6>
    <h4> Link: <%=  link %> </h4>
</div>